*.jl.cov
*.jl.*.cov
*.jl.mem
*play.jl
examples/build
examples/src
assets/font1.css
assets/font2.css
assets/font3.css
assets/fonts/KaTeX*
assets/remark.min.js
assets/katex.min.js
assets/katex.min.css
assets/auto-render.min.js
assets/tmp
deps/build.log
demo/*
Manifest.toml
